<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>uri</key>
		<string>doopool.xyz:22020</string>
	</dict>
	<dict>
		<key>uri</key>
		<string>daemons.cryptopool.space:22023</string>
	</dict>
	<dict>
		<key>uri</key>
		<string>node.loki-pool.com:18081</string>
	</dict>
	<dict>
		<key>isDefault</key>
		<true/>
		<key>uri</key>
		<string>imaginary.stream:22023</string>
	</dict>
	<dict>
		<key>uri</key>
		<string>nodes.hashvault.pro:22023</string>
	</dict>
	<dict>
		<key>uri</key>
		<string>rpc.stakeit.io:22023</string>
	</dict>
</array>
</plist>
